<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tasks/index.css" />
<%- include('../partials/nav') %>

<main class="task-list-container">
  <a href="/tasks/new" class="add-task"><h3>Add Task</h3></a>

  <div class="task-list">
    <% tasks.forEach(task => { %>
      <div class="task-card">
        <div class="task-details">
          <h1><a href="/tasks/<%= task._id %>" class="task-title"><%= task.title %></a></h1>
          <h3 class="task-desc"><%= task.desc %></h3>
          <h2 class="task-status"><%= task.isComplete ? "Complete" : "Incomplete" %></h2>
          <h2 class="task-due-date">Due: <%= task.dueDate %></h2>
        </div>
        <div class="task-actions">

          <form action="/tasks/move-task/<%=task._id%>?_method=put" method="post">
            <label for="cats" style="font-size: 150%;">to Category: </label>
            <select name="catId" id="cat-select">
              <% cats.forEach(catTab => { %>
              <option value="<%= catTab._id %>" >
                <%= catTab.title %>
              </option>
              <% })%> 
            </select>
            <button type="submit">Move </button>
          </form>

          <a href="/tasks/<%= task._id %>/edit" class="edit-task">Edit</a>
          <form action="/tasks/<%= task._id %>?_method=DELETE" method="post" class="delete-task-form">
            <button type="submit" class="delete-task">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
