<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="tasks/new"><h1>Add Project</h1></a>

  <h1>Task List</h1>
  <% tasks.forEach(task => { %>
   <h1><a href="tasks/<%= task._id %>"><%= task.title %></a>  <a href="tasks/<%= task._id %>/edit">✏️</a> <form action="/tasks/<%= task._id %>?_method=DELETE" method="post"> <button type="submit">❌</button></form></h1>
   <h3><%= task.desc %></h3>
   <h2> <% task.isCompleted? "Complete":"Incomplete" %></h2>
   <h2><%= task.dueDate.toLocaleDateString().slice(0,16) %></h2>
  <% }) %>
</main>

<%- include('../partials/footer') %>