<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/flights/index.css" /> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% tasks.forEach(task => { %>
    <h1><a href="/tasks/<%= task._id %>"><%= task.title %></a>  
    <h3><%= task.desc %></h3>
    <h2> <%= task.isComplete? "Complete":"Incomplete" %> </h2>
    <h2><%= task.dueDate.toLocaleDateString() %></h2>
    <form action="/cats/<%= cat._id %>/add-task/<%= task._id%>?_method=PUT" method="post"> <button type="submit">â•</button></form></h1>
  <% }) %>
</main>

<%- include('../partials/footer') %>