<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1><%= task.title %></h1>
<h2><%= task.desc %></h2>
<h3><%= task.dueDate %></h3>
<h4><%= task.isComplete %></h4>
<a href="/tasks">Back</a>
<%- include('../partials/footer') %>
