<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cats/show.css" />
<%- include('../partials/nav') %>

<nav class="category-nav">
  <% cats.forEach(catTab => { %>
    <div class="category">
      <% if (catTab._id.equals(cat._id)) { %>
        <a href="/cats/<%= catTab._id %>" class="active"><%= catTab.title %></a>
      <% } else { %>
        <a href="/cats/<%= catTab._id %>"><%= catTab.title %></a>
      <% } %>
    </div>
  <% })%> 
  <a href="/cats/new" class="add-category">Add a Category</a>
</nav>

<main class="tasks-container">
  <a href="/cats/<%= cat._id %>/add-task" class="add-task"><h3>Add a task to this Category</h3></a>
  
  <% if (cat.taskList.length) { %>
    <% cat.taskList.forEach(task => { %>
      <div class="task-card" >
        <div class="task-details" >
          <h1><a href="/tasks/<%= task._id %>" class="task-title"><%= task.title %></a></h1>
          <h2 class="task-desc"><%= task.desc %></h2>
          <h2 class="task-status"> <%= task.isComplete? "Complete":"Incomplete" %></h2>
        </div>
        <div class="task-actions">
          <a href="/tasks/<%= task._id %>/edit" ><button type="submit" class="edit-task">Edit</button></a> 
          <form action="/cats/<%= cat._id %>/remove-task/<%= task._id %>?_method=put" method="post" class="delete-task-form"> 
            <button type="submit" class="delete-task">Remove From List</button>
          </form>
        </div>
      </div>
    <% }) %>
  <% } %>

</main>

<%- include('../partials/footer') %>